<div class="container-fluid px-2 py-3">
     <div class="row border-bottom">
          <div class="col-12 col-md-12 text-center">
               <h3>View Encapsulation In Angular</h3>
          </div>
     </div>

     <div class="row mt-2">
          <div class="col-12 col-md-12">
               <p class="text-muted">View encapsulation in Angular is a mechanism that controls how the CSS styles
                    defined within a
                    component are applied to the DOM, ensuring that a component's styles are scoped and isolated from
                    the rest of the application. This prevents style conflicts and promotes modular, reusable
                    components. </p>
          </div>
          <div class="col-12 col-md-12">
               <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                         <strong>Emulated (Default)</strong>
                         <p class="mb-0 text-muted">
                              Styles are scoped to the component and do not leak outside, but the DOM is
                              not truly isolated.
                         </p>
                    </li>

                    <li class="list-group-item">
                         <strong>ShadowDom</strong>
                         <p class="mb-0 text-muted">
                              Uses the browser’s native Shadow DOM, ensuring complete style isolation
                              within the component.
                         </p>
                    </li>

                    <li class="list-group-item">
                         <strong>None</strong>
                         <p class="mb-0 text-muted">
                              No encapsulation is applied. Styles behave as global styles and may affect
                              other components.
                         </p>
                    </li>
               </ul>
          </div>
     </div>
</div>