<div class="container-fluid py-2 px-2">
     <div class="row border-bottom">
          <div class="col-12 col-md-12 text-center">
               <h3>Angular Pipes</h3>
          </div>
     </div>
     <div class="row mt-2">
          <div class="col-12 col-md-12">
               <dfn>Angular pipes are use to transform the data in template.</dfn>
               <pre>There are 3 types of pipes in Angular</pre>
               <pre>Pure pipe :- <em>All custom pipe's are pure pipe. It only depends on input value. It detect the input value once data modified/loaded.</em> </pre>
               <pre>Impure pipe :- <em>A pipe in impure pipe if it runs on every change detection.</em></pre>
               <pre>async pipe :- <em>It use to handle the asynchronous operation in template.</em></pre>
               <samp>
                    We can create our custom pipe.
               </samp>

               <pre>UserName:- <em> {{userName | upperCase}} </em> </pre>
          </div>
     </div>
</div>