<div class="container-fluid py-2 px-2">
     <div class="row border-bottom">
          <div class="col-12 col-md-12 text-center">
               <h3>Angular Directives</h3>
          </div>
     </div>
     <div class="row mt-2">
          <div class="col-12 col-md-12" changeBgColor>
               <dfn>Angular directives are instructions to modify the element behaviour.</dfn>
               <pre>Structural:- <em>*ngIf *ngFor *ngSwitch</em> </pre>
               <pre>Attribute:- <em>*ngClass *ngStyle</em> </pre>
               <samp>
                    We can create our custom directive.
               </samp>
          </div>
     </div>
</div>